<h1>Editing Book</h1>
<% if @book.errors.any? %>
<ul>
	<%= @msg %>
	<% @book.errors.full_messages.each do |err| %>
	<li><%= err %></li>
	<% end %>
</ul>
<% end %>
<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4><%= f.text_area :body %>
  <div><%= f.submit 'Update Book' %></div>

  <%= link_to "Show", book_path(@book.id) %>
  <nobr>|</nobr>
  <%= link_to "Back", "/books"%>    
<% end %>